<script>
    <% if flash[:error_msg]%>
    alert('<%=flash[:error_msg]%>');
    <% end%>
</script>
<div class="inuoo">
  <%= render 'common/navigation' %>
  <div class="box">
    <div class="index_top">
      <div class="index_mainn">
        <table width="600" border="0">
          <div>
            <ul class="breadcrumb">
              <li>
                <a href="/">首页</a> <span class="divider">/</span>
              </li>
              <li>
                <a href="<%= school_news_index_path %>">新闻列表</a> <span class="divider">/</span>
              </li>
              <li>
                <a> 标题：<%= @journalism.title %></a>
              </li>
            </ul>
          </div>
          <tr>
            <td>
              <div class="flash">
                <ul class="breadcrumb">
                  <h2><%= @journalism.title %></h2>

                  <p><%= @journalism.descrpiton.html_safe %></p>
                </ul>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <%= render 'common/login' %>
    </div>
  </div>
  <!--               QQ   代码 开始                   -->
  <%= render 'common/kefu' %>
  <!-- 代码 结束 -->
</div>
<%= render 'common/footer' %>
