<script>
    <% if flash[:error_msg]%>
    alert('<%=flash[:error_msg]%>');
    <% end%>
</script>
<div class="inuoo">
  <div class="headder">
    <div class="box">
      <div class="head_mian">
        <div class="logo">
          <a href="http://inuoos.demo.inuoo.com/" title="网站名称" id="web_logo">
            <img src="/images/1395818901.jpg" alt="网站名称" title="网站名称" style="margin:0px 0px 0px 0px;">
          </a>
        </div>
        <%= render 'common/navigation' %>
      </div>
    </div>
  </div>
  <div class="box">
    <div class="index_top">
      <div class="index_mainn">
        <table width="600" border="0">
          <tr>
            <td>
              <div class="flash">
                <% @category_3_questions.each do |j| %>
                    <li>
                      <h1><%= j.title %></h1>

                      <p><%= j.descrpiton.html_safe %></p>
                    </li>
                <% end %>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <%= render 'common/login' %>
    </div>
  </div>
  <!--               QQ   代码 开始                   -->
  <%= render 'common/kefu' %>
  <!-- 代码 结束 -->
</div>