<script>
    <% if flash[:error_msg]%>
    alert('<%=flash[:error_msg]%>');
    <% end%>
</script>
<div class="inuoo">
  <div class="headder">
    <div class="box">
      <div class="head_mian">
        <div class="logo">
          <a href="<%= root_path %>" title="网站名称" id="web_logo">
            <img src="/images/logo200.png" alt="网站名称" title="网站名称" style="margin:-20px 0px 0px 0px;">
          </a>
        </div>
        <%= render 'common/navigation' %>
      </div>
    </div>
  </div>
  <div class="box">
    <div class="index_top">
      <div class="index_mainn">
        <div class="flash">
          <table width="630" border="0">
            <tr>
              <td>
                <table width="630" border="0">
                  <tr>
                    <td><a href="#"><img src="/images/hd1.jpg" width="288" height="410"/></a></td>
                    <td>
                      <table width="342" border="0">
                        <tr>
                          <td><img src="/images/hd2.jpg" width="340" height="167" border="0" usemap="#Map"/></td>
                        </tr>
                        <tr>
                          <td><%= render 'common/hdp' %></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
          <map name="Map" id="Map">
            <area shape="poly" coords="287,60,256,99,288,141,319,100" href="#"/>
            <area shape="poly" coords="214,58,183,97,215,139,246,98" href="#"/>
            <area shape="poly" coords="141,60,110,99,142,141,173,100" href="#"/>
            <area shape="poly" coords="71,57,40,96,72,138,103,97" href="#"/>
            <area shape="poly" coords="250,17,219,56,251,98,282,57" href="#"/>
            <area shape="poly" coords="178,15,147,54,179,96,210,55" href="#"/>
            <area shape="poly" coords="105,16,74,55,106,97,137,56" href="#"/>
            <area shape="poly" coords="34,16,3,55,35,97,66,56" href="#"/>
          </map>
        </div>
      </div>
      <%= render 'common/login' %>
    </div>
  </div>
  <div class="index_main">
    <div class="box">
      <div class="index_bottom">
        <div class="index_bt_left">
          <div class="index_bt_lf_top">
            <a href="<%= campus_main_index_path %>"><img src="/images/xinxiaowei_07.jpg"></a>
          </div>

          <%= render 'common/lunzhuan' %>

          <div class="index_bt_lf_bottom">
            <div class="lf_bt_img">
              <a href="<%= campus_main_index_path %>"><img src="/images/xinxue_07.jpg"></a>
            </div>
            <div class="lf_bt_ul">
              <ul>
                <li>
                  <a href="<%= campus_main_index_path %>"><img src="/images/xudd_15.jpg"></a>
                </li>
                <li>
                  <a href="<%= campus_main_index_path %>"><img src="/images/gaokao_15.jpg"></a>
                </li>
                <li>
                  <a href="<%= campus_main_index_path %>"><img src="/images/chu_15.jpg"></a>
                </li>
                <li>
                  <a href="<%= campus_main_index_path %>"><img src="/images/chuzhong_15.jpg"></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <%= render 'common/tianjiao' %>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <!--               QQ   代码 开始                   -->
  <%= render 'common/kefu' %>
  <!-- 代码 结束 -->
</div>