<script>
    <% if flash[:error_msg]%>
    alert('<%=flash[:error_msg]%>');
    <% end%>
</script>
<div class="inuoo">
  <%= render 'common/navigation' %>
  <div class="box">
    <div class="index_top">
      <div class="index_mainn">
        <div class="flash">
          <% @category_1_questions.each do |j| %>
              <li>
                <h2><%= j.title %></h2>

                <p><%= j.descrpiton.html_safe %></p>
              </li>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <!--               QQ   代码 开始                   -->
  <%= render 'common/kefu' %>
  <!-- 代码 结束 -->
</div>
<%= render 'common/footer' %>