<script>
    <% if !flash[:error_msg].nil? && !flash[:error_msg].blank?%>
    alert('<%=flash[:error_msg]%>');
    <% end%>
</script>

<div class="row-fluid sortable">
  <div class="box span12">
    <div class="box-header well" data-original-title>
      <h2><i class="icon-list-alt"></i>添加轮转</h2>
    </div>
    <div class="box-content">
      <div id="content" class="span10" style="padding: 20px">
        <%= form_for @roll, :url => admin_roll_index_path(@roll), :method => :post, :html => {:id => "roll"} do |f| %>
            <% if @roll.errors.any? %>
                <div id="error_explanation" style="color: red">
                  <p>错误:</p>
                  <ul>
                    <% @roll.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                  </ul>
                </div>
            <% end %>
            <div class="codeExplanation">
              <p>建议幻灯片图片尺寸：330x220（像素），轮转图片尺寸：220x160（像素）</p>
            </div>
            <div class="field">
              <span>图片分类：</span>
              <%= f.select :question_category_id, options_for_select(Roll::QUESTION_CATEGORYS) %>
            </div>
            <br/>

            <div class="field">
              <span>选择图片：</span>
              <%= f.file_field :avatar %>
            </div>
            <br/>

            <div class="field">
              <span>图片链接：</span>
              <%= f.text_field :url, :value => '#' %>
            </div>
            </br>
            <div class="form-actions">
              <button type="submit" class="btn btn-primary">完成提交</button>
            </div>
        <% end %>
        <!--/span-->
      </div>
    </div>
  </div>
</div><!--/row-->
<script>
    $().ready(function () {
        $("#roll").validate({
            rules: {
                "roll[avatar]": {
                    required: true,
                    accept: "jpg|png"
                },
                "roll[url]": {
                    required: true
                }
            },
            messages: {
                "roll[avatar]": {
                    required: "请上传图片",
                    accept: "图片类型必须是png或jpg"
                },
                "roll[url]": {
                    required: "请填写链接地址"
                }
            }
        });
    });
</script>


