<script>
    <% if flash[:error_msg]%>
    alert('<%=flash[:error_msg]%>');
    <% end%>
</script>
<div class="inuoo">
  <%= render 'common/navigation' %>
  <div class="box">
    <div class="container">
      <div class="content">

        <div id="rg-gallery" class="rg-gallery">
          <div class="rg-thumbs">
            <!-- Elastislide Carousel Thumbnail Viewer -->
            <div class="es-carousel-wrapper">
              <div class="es-nav">
                <span class="es-nav-prev">Previous</span>
                <span class="es-nav-next">Next</span>
              </div>
              <div class="es-carousel">
                <ul>
                  <% if @category_3_questions.count>0 %>
                      <% for i in 1..@category_3_questions.length-1 %>
                          <li>
                            <a href="<%= @category_3_questions[i-1].url %>">
                              <img src="<%= @category_3_questions[i-1].avatar.url(:thumb) %>" data-large="<%= @category_3_questions[i-1].avatar.url(:zuopin) %>" alt="image01" data-description="新校尉学员作品展示"/>
                            </a>
                          </li>
                      <% end %>
                      <li>
                        <a href="<%= @category_3_questions[-1].url %>">
                          <img src="<%= @category_3_questions[-1].avatar.url(:thumb) %>" data-large="<%= @category_3_questions[-1].avatar.url(:zuopin) %>" alt="image01" data-description="新校尉学员作品展示"/>
                        </a>
                      </li>
                  <% end %>
                </ul>
              </div>
            </div>
            <!-- End Elastislide Carousel Thumbnail Viewer -->
          </div>
          <!-- rg-thumbs -->
        </div>
        <!-- rg-gallery -->
      </div>
      <!-- content -->
    </div>
    <!-- container -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="../js/jquery.tmpl.min.js"></script>
    <script type="text/javascript" src="../js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="../js/jquery.elastislide.js"></script>
    <script type="text/javascript" src="../js/gallery.js"></script>
  </div>
  <!--               QQ   代码 开始                   -->
  <%= render 'common/kefu' %>
  <!-- 代码 结束 -->
</div>
<%= render 'common/footer' %>



