<%= javascript_include_tag "ckeditor/init" %>
<script>
    <% if flash[:error_msg]%>
    alert('<%=flash[:error_msg]%>');
    <% end%>
</script>
<div>
  <ul class="breadcrumb">
    <li>
      <a href="#">Home</a> <span class="divider">/</span>
    </li>
    <li>
      <a href="<%= admin_news_index_path %>">新闻管理</a> <span class="divider">/</span>
    </li>
    <li>
      新闻修改
    </li>
  </ul>
</div>
<div class="row-fluid sortable ui-sortable">
  <div class="box span12">
    <div class="box-header well" data-original-title="">
      <h2><i class="icon-edit"></i> 新闻修改</h2>
    </div>
    <div class="box-content">
      <%= form_for :xinwen, :url => admin_news_index_path, :method => "put", :html => {:id => "verifytitle", :class => "form-horizontal"} do |f| %>
          <legend>信息添加</legend>
          <%= f.label "新闻标题：" %>
          <%= f.text_field :title %>
          <%= f.label "新闻分类：" %>
          <%= f.select :question_category_id, options_for_select(Xinwen::QUESTION_CATEGORYS) %>
          <%= f.label "新闻内容：" %>
          <%= f.cktext_area :descrpiton %>
          <div class="form-actions">
            <button type="submit" class="btn btn-primary">完成提交</button>
          </div>
      <% end %>
    </div>
  </div>
  <!--/span-->
</div>
<script>
    $().ready(function () {
        $("#verifytitle").validate({
            rules: {
                "journalism[descrption]": {
                    required: true
                }
            },
            messages: {
                "journalism[descrption]": {
                    required: "内容不能为空"
                }
            }
        });
    });
    $(document).ready(function () {
        $('form[data-remote]').bind('ajax:before', function () {
            for (instance in CKEDITOR.instances) {
                CKEDITOR.instances[instance].updateElement();
            }
        });
    });
</script>