<div class="head_right">
  <ul class="head_ul">
    <li>
      <a href="<%= root_path %>" class="head_a">
        <img src="/images/shouye.jpg"/>
      </a>
      <span class="head_span"></span>
    </li>
    <li>
      <a href="<%= campus_main_index_path %>" class="head_a">
        <img src="/images/xuexiaojianjie.jpg"/>
      </a>
      <span class="head_span"></span>
    </li>
    <li>
      <a href="<%= teacher_main_index_path %>" class="head_a">
        <img src="/images/jiaoshijianjie.jpg">
      </a>
      <span class="head_span"></span>
    </li>
    <li>
      <a href="<%= works_show_index_path %>" class="head_a">
        <img src="/images/xueyuanzuopin.jpg">
      </a>
      <span class="head_span"></span>
    </li>
    <li>
      <a href="<%= school_news_index_path %>" class="head_a">
        <img src="/images/xiaoneixinwen.jpg">
      </a>
      <span class="head_span"></span>
    </li>
    <li>
      <a href="<%= contact_us_main_index_path %>" class="head_a">
        <img src="/images/lianxiwomen.jpg">
      </a>
    </li>
  </ul>
</div>
