<div class="headder">
  <div class="box">
    <div class="head_mian">
      <div class="logo">
        <a href="<%= root_path %>" title="新校尉教育" id="web_logo">
          <img src="/images/1395818901.jpg" alt="新校尉教育" title="新校尉教育" style="margin:-10px 0px 0px 0px;">
        </a>
      </div>
      <div class="head_right">
        <ul class="head_ul">
          <li>
            <a href="<%= root_path %>" class="head_a">
              <img src="/images/shouye.jpg"/>
            </a>
            <span class="head_span"></span>
          </li>
          <li>
            <a href="<%= panoramic_campus_main_index_path %>" class="head_a">
              <img src="/images/xuexiaojianjie.jpg"/>
            </a>
            <span class="head_span"></span>
          </li>
          <li>
            <a href="<%= teacher_charisma_main_index_path %>" class="head_a">
              <img src="/images/jiaoshijianjie.jpg">
            </a>
            <span class="head_span"></span>
          </li>
          <li>
            <a href="<%= works_show_index_path %>" class="head_a">
              <img src="/images/xueyuanzuopin.jpg">
            </a>
            <span class="head_span"></span>
          </li>
          <li>
            <a href="<%= school_news_index_path %>" class="head_a">
              <img src="/images/xiaoneixinwen.jpg">
            </a>
            <span class="head_span"></span>
          </li>
          <li>
            <a href="<%= contact_us_main_index_path %>" class="head_a">
              <img src="/images/lianxiwomen.jpg">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

